body, html {
    height: 100%;
    }
    .bg {
        background-image: url("https://images.alphacoders.com/748/thumb-1920-748579.jpg");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
