* {
    box-sizing: border-box;
    padding: 0;
}

table {
    margin-top: 3em;
    overflow: auto;
    display: block;
    table-layout: auto;
    height: 300px;
}

.padd {
    padding: 0.5em 20px 0pc 20px;
}