<div class="search-div">
    <button mat-raised-button (click)="onCreate()">
        <mat-icon>add</mat-icon>Crear
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Buscar" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="listData" matSort>
        <ng-container matColumnDef="id_tienda">
            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.id_tienda}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.estado}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="ciudad">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Ciudad</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.ciudad}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="no_tienda">
            <mat-header-cell *matHeaderCellDef  mat-sort-header>No_tienda</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.no_tienda}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef  mat-sort-header>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.nombre}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="codigo_postal">
            <mat-header-cell *matHeaderCellDef  mat-sort-header>Codigo_postal</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.codigo_postal}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="direccion">
            <mat-header-cell *matHeaderCellDef  mat-sort-header>Direccion</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.direccion}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="latitud">
            <mat-header-cell *matHeaderCellDef  mat-sort-header>Latitud</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.latitud}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="longitud">
            <mat-header-cell *matHeaderCellDef  mat-sort-header>Longitud</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.longitud}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
                <button mat-icon-button color="warn" (click)="onDelete()"><mat-icon>delete_outline</mat-icon></button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="10">
                Loading...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="10">
                No Data!
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5"></mat-paginator>
</div>