* {
box-sizing: border-box;
padding: 0px;
margin: 5px;
}

body {
  background-color: rgba(0,0,0,0.8);
  width: 100%;
}

#videos {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 2em 0 2em 0;
}

.titulos {
  color: white;
  display: inline-block;
  position: relative;
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  padding-top: 1em;
}

.contenedor {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 19em;
  margin: auto;
  height: 24em;
  border-radius: 14px;
  overflow: hidden;
  padding-top: 10px;
  margin-bottom: 20px;
}

.crop {
    width: 19em;
    height: 10em;
    background-size: cover;
}

.contenedor iframe {
  /*width: 384px;
  height: 216px;
  margin: -30px 0 0 -60px;*/
  border-radius: 14px;
  width: 384px;
  height: 216px;
  margin: -10px 0 0 0px;
  object-fit: contain;
}

.Contenido {
  top: -10px;
  width: auto;
  display: table-row;
  height: auto;
  position: relative;
  text-align: justify;
  color: rgba(240,240,240,0.9);
  font-family: sans-serif;
  font-size: 0.8em;
  padding: 1.2em;
}

.Contenido h2 {
  text-align: center;
}

/*------------------------------------ Musica ---------------------------------*/

#Audios {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 2em 0 2em 0;
  justify-content: center;
}

.contenedor-musica {
  position: relative;
  display: inline-block;
  width: 19em;
}

.contenedor-musica audio {
  width: 19em;
  height: 4em;
}

.contenedor-musica h2 {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 1.2em;
}
