.imageBody{
    background-image: url("https://harridailygrind.files.wordpress.com/2015/08/starbuckscoffeebeanslg.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
}

h1{
    color:white;
    font-size: large;
    text-shadow: 3mm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}